*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/bg2.jpg);
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
.exe-main p{
    color: #f2a007;
}
.exe-main ol{
    color: #f2a007;
}
footer {
    
    position: sticky;
    margin-top: 20px;
   background-color: black;
    padding: 20px 0;
    font-size: 14px;
    line-height: 1.0;
  }
  footer h4 {
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  footer ul li {
    color: white;
    margin-bottom: 10px;
  }
  footer ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: all 0.3s ease;
  }
  footer ul li a:hover {
    color: #f2a007;
  }
  footer .bg-secondary {
    font-size: 12px;
    color: #fff;
    text-align: center;
  }
  footer .copy a{
    
    color: white;
    text-decoration: none;
  }
.contact{
    color: white;
}
.abt{
    color: white;
}
.copy p{
    color: white;
}

